body{
            
            
    background-color:#dcf3ff;}
    header{
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-left:40px;
        margin-right:40px;
    }
    .content{
        background-color: #dcf3ff;
        display: flex;
        align-items: center;
        border:2px solid #385f98;
        border-radius: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .text{
        margin:auto;
        align-items: center;
        font-size: 20px;
        margin-left: 20px;
    }
    .content img{ 
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        width:200px;
        height:200px;
         border-radius: 50%;
         object-fit: cover;

    }
    .characters{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .character{
        width: 30%;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        display: flex;          
        flex-direction: column; 
        align-items: center;  
    }
.character img{
width: 200px;
height: 200px;
border-radius: 20px;
object-fit: hidden;
margin-left: 40px;
margin-right: 40px;
}
.character p{
width: 200px;
height: 150px;
color: white;
margin-left: 40px;
margin-right: 40px;
border-radius: 20px;
}
#haimianbaobao{
    background-color: #f8cf37;
}
#paidaxing{
    background-color: #d08079;}
#zhangyuge{
    background-color: #385f98;
}
.all{
    margin-left: 40px;
    margin-right: 40px;
    max-width: 1200px;
    margin:auto;
}
.table{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#series dt, #date dt, #number dt{
    text-align: center;
    padding: 10px;
}
#series{
    width: 200%;
    white-space: nowrap;
    
    background-color: #99ccff;
    text-align: center;
}
    #date{
        width: 100%;
        background-color: #87ceeb;
        text-align: center;
    }
    #number{
        width: 50%;
        background-color: #6699cc;
        text-align: center;
    }
    .title{
        background-color: #dcf3ff;
    }
    #suggestion{
        border: 2px solid #87ceed;
        border-radius: 10px;
        width:1200px;
        height: 100px;

    }
    input[type="submit"]{
        background-color: #6495ed;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-left: 1150px;
    }
    input[type="submit"]:hover{
        background-color: #216090;
        margin-top: 10px;

    }
    .advice{
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
        margin-top: 10px;
    }