body{
	background-color:#DCF3FF;
}
html{
    scroll-behavior:smooth;
}
/*-----------------------------------*/
/*导航*/
nav .link{
    display:flex;
	justify-content:space-between;
    list-style:none;
	padding-top:15px;
	padding-bottom:15px;
}
nav .link li a{
	color:black;
	text-decoration:none;
	padding:8px 15px;
	margin:20px 200px;
	font-size:18px;
}
nav .link li a:hover{
	text-decoration:underline;
	background-color:#395DA8;
	border-radius:15px;
}
/*-----------------------------------*/
/*总括*/
#summary{
	display:flex;
	justify-content:space-between;
	border:2px solid #5883BC;
	border-radius:15px;
    margin-left:14%;
    margin-right:11%;
    height:300px;
}
#summary .content{
	font-size:18px;
	margin-left:250px;
	margin-top:100px;
}
#summary .all{
	position:absolute;
    border-radius:50%;
    height:200px;
    width:200px;
    margin-top:50px;
    margin-bottom:50px;
	margin-left:20px;
	transition:all 0.2s ease 0.1s;
}
#summary .all:hover{
	transform:scale(1.2);
}
/*-----------------------------------*/
/*人物介绍*/
#figure{
	display:flex;
	justify-content:space-between;
    margin-left:14%;
    margin-right:11%;
}
#figure .hmbb,
#figure .pdx,
#figure .zyg{
	position:absolute;
    border-radius:10%;
    height:250px;
    width:250px;
	margin-top:185px;
	transition:all 0.2s ease 0.1s;
}
#figure .pdx{
	margin-left:29.8%;
}
#figure .zyg{
	margin-left:59.5%;
}
#figure .hmbb:hover,
#figure .pdx:hover,
#figure .zyg:hover{
	transform:scale(1.2);
}
#figure .HMBB,
#figure .PDX,
#figure .ZYG{
	padding:0px 20px;
	margin-top:20px;
	font-size:19px;
	color:white;
    width:210px;
	border-radius:15px;
}
#figure h4{
	margin-left:35%;
	margin-top:5px;
}
#figure .HMBB h4{
	margin-left:30%;
}
#figure .HMBB{
	background-color:#F8CF37;
}
#figure .PDX{
	background-color:#D08079;
}
#figure .ZYG{
	background-color:#385F98;
}
/*-----------------------------------*/
/*系列作品*/
#content{
    margin-left:14%;
    margin-right:11%;
	margin-top:300px;
    height:200px;
}
#content table{
    width:100%;
	text-align:center;
	border-collapse:collapse;
}
#content table td:nth-child(1){
	background-color:#99CCFF;
	width:55%;
}
#content table td:nth-child(2){
	background-color:#87CEEB;
	width:38%;
}
#content table td:nth-child(3){
	background-color:#6699CC;
}
#content .tleft{
	border-top-left-radius:10px;
}
#content .tright{
	border-top-right-radius:10px;
}
#content .bleft{
	border-bottom-left-radius:10px;
}
#content .bright{
	border-bottom-right-radius:10px;
}

/*-----------------------------------*/
/*我们相关*/
#about{
    margin-left:14%;
    margin-right:11%;
    height:300px;
}
#about textarea{
	width:100%;
	height:200px;
	border:2px solid #87CEED;
	border-radius:15px;
	font-size:15px;
}
#about input{
	width:167px;
	height:50px;
	margin-top:15px;
	float:right;
	font-size:15px;
	color:white;
	border-radius:10px;
	border:none;
	background-color:#6495ED;
}
#about input:hover{
	background-color:#487BF8;
}
/*-----------------------------------*/