body{
    background-color:#dcf3ff;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

ul{
    display:flex;
    list-style:none;
    justify-content:space-between;
    font-size:20px;
    width:75vw;
}

ul a{
    text-decoration:none;
    color:black;
}


#brief-introduction{
    display:flex;
    margin:20px;
    border-radius:20px;
    border:#769dcb solid 2px;
    padding:20px;
    align-items:center;
    width:75vw;
}

#brief-introduction img{
    width:150px;
    height:150px;
    border-radius:100%;
    padding:30px;
}

#character-introduction{
    display:flex;
    justify-content:center;
    gap:350px;
    width:75vw;
    animation: float 4s ease-in-out infinite;
}


@keyframes float {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(5px, -10px) scale(1.01);
  }
  50% {
    transform: translate(0, -5px) scale(1);
  }
  75% {
    transform: translate(-5px, -10px) scale(0.99);
  }
}
.character-card{
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    margin-top:20px;
    width:200px;
    height:140px;
}

.character-card h3{
    margin:0;
    padding:5px;
}

.character-card p{
    margin:0;
    padding:5px;
}

.yellow-card{
    background-color: #f6ce38;
}

.pink-card{
    background-color: #d08079;
}

.blue-card{
    background-color: #376098;
}

.character-image{
    border-radius:20px;
    margin-top:20px;
    width:200px;
    height:200px;
}

table{
    text-align:center;
    border-collapse: collapse;
    width:75vw;
}

tr>td:first-child{
    background-color: #99ccff;
    width:50vw;
}

tr>td:nth-child(2){
    background-color: #87ceeb;
    width:22vw;
}

tr>td:nth-child(3){
    background-color: #6699cc;
    width:8vw;
}

#feedback{
    margin-top:50px;
    display:flex;
    flex-direction: column;
}

#feedback textarea{
    font-size: 16px;
    font-weight: bold;
    width:75vw;
    height:180px;
    background-color: #dcf3ff;
    border-color:#87ceed;
    border-radius:5px;
    border-width:2px;
    padding-top:10px;
    resize:none;
}




#feedback button{
    align-self:flex-end;
    color:white;
    background-color: #6495ed;
    margin-top:20px;
    width:9vw;
    height:40px;
    border:none;
    border-radius:5px;
}

#feedback button:hover {
    background-color: #1559d8;
    box-shadow: black;
    transform: scale(1.05);
    transition:0.5s;
}

#feedback button:active {
    transform: scale(0.95);
    box-shadow: none;
    transition:0.05s;
}
