/* 背景 */
#back
{
    background-color: #dcf3ff;
    padding: 0 150px 100px 150px;
}
/* 全家福照片 */
#qjf
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 20px 30px 20px 4px;
}
/* 导航栏盒子 */
#k
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 导航栏文字 */
.word
{
    line-height: 50px;
    text-decoration: none;
    color: black;
}
.word:hover
{
    border-radius: 10%;
    background-color: #216191;
    color: aliceblue;
}
/* 顶部文字 */
#up
{
    border-radius: 12px;
    max-width: 100%;
    font-size: larger;
    border-color: rgb(62, 93, 130);
    border-style: solid;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
/* 图片介绍盒子 */
#pic
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 图片介绍 */
.man
{
    border-style: none;
    border-radius: 5%;
    width: 200px;
    height: 130px;
    font-size:15px;
    box-sizing: border-box;
    padding: 8px;
    max-width: 100%;
    color: aliceblue;
}
/* 图片介绍部分的名字 */
.name
{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}
#hm
{
    background-color: #f6ce39;
}
#pd
{
    background-color: #d08077;
}
#zy
{
    background-color: #216191;
}
/* 一排人物照片 */
.pai
{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}
.pai:hover
{
    transform: scale(1.2);
}
/* 三个照片的盒子 */
#three
{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
/* 表格 */
#table
{
    width: 100%;
    text-align: center;
    cell
}
#table td:nth-child(1)
{
    width: 600px;
    background-color: #99ccff;
}
#table td:nth-child(2)
{
    width= 400px;
    background-color: #87ceeb;
}
#table td:nth-child(3)
{
    width: 100px;
    background-color: #6698cb;
}
/* 建议栏 */
#advice
{
    width: 100%;
    height: 171px;
    background-color: #dcf3ff;
    border-radius: 3%;
    border-color: #87ceeb;
    font-size: large;
    box-sizing: border-box;
    padding: 8px;
}
/* 提交按钮 */
#sub
{
    width: 100px;
    height: 40px;
    background-color: #6495ed;
    border-style: none;
    color: aliceblue;
    border-radius: 5%;
    position: relative;
    float: right;
}
#sub:hover
{
    background-color: #216191;
}