/* 重置样式 */

html {
    scroll-behavior: smooth;
}

/*背景*/
body {
    background-color: rgb(220, 243, 255);
    padding: 0rem 10rem 0rem 10rem;
}

/* 导航栏样式 */
.navbar {
    
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}
/*第一行*/
.navbar ul li a {
    color: rgb(16, 15, 15);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.navbar ul li a:hover {
    background-color: rgb(55, 96, 152);
    border-radius: 15px 15px 15px 15px;
    text-decoration:underline ;
}

/* 人物介绍样式 */
.description {
    border: 2px solid rgb(113, 152, 201);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.circle_img {
    border-radius: 50%;
}

.description_img {
    width: 10rem;
    height: 10rem;
    padding-right: 1rem;
}

ul {
    padding-inline-start: 0;
    display: flex;
    justify-content: space-between;
}

.role {
    width: 14rem;
    line-height:1.5em;
}

.role_description {
    height: 8rem;
    width: 12rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0 1rem 0;
}

p {
    margin: 0;
}

.role_title {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 400;
}

.haimianbaobao_description {
    background-color: rgb(246, 206, 56);
    color: white;
}

.paidaxing_description {
    background-color: rgb(207, 129, 119);
    color: white;
}

.zhangyuge_description {
    background-color: rgb(55, 96, 152);
    color: white;
}

.role_img {
    width: 13rem;
    height: 13rem;
    border-radius: 1rem;
    transition: transform 0.3s;
    transform-origin: center center;
}

.role_img:hover {
    transform: scale(1.2);
}


/* 系列作品表格样式 */
td {
    text-align: center;
}

td:nth-child(1) {
    width: 808px;
    background-color: rgb(153, 204, 255);
}

table {
    /* 取消<td>之间的空隙 */
    border-collapse: collapse;
}

td:nth-child(2) {
    width: 522px;
    background-color: rgb(135, 206, 235);
}

td:nth-child(3) {
    width: 100px;
    background-color: rgb(102, 153, 204);
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(220, 243, 255);
    margin: 2rem 0 1rem 0;
    border: 2px solid rgb(159, 216, 242);
}



input[type="submit"] {
    float: right;
    background-color: rgb(100, 149, 237);
    color: white;
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: rgb(55, 96, 152);
}

footer {
    height: 5rem;
}