* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
}

body {
    background-color: #DCF3FF;
}

.w {
    width: 1430px;
    margin: 0 auto;
}

/* 导航栏 */

#nav {
    height: 50px;

    line-height: 50px;
    font-size: 0;
}

#nav ul li {
    float: left;
}

#nav ul .a-works {
    margin: 0 490px;
}

#nav ul li a {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    transition: all .3s;
}

#nav a:hover {
    background-color: #395DA4;
    text-decoration: underline;
}

/* 简介 */

#brief {
    height: 312px;
    border-radius: 20px;
    border: 2px solid #000;
}

/* 简介-图片 */

#brief #all {
    float: left;
    width: 230px;
    height: 230px;
    margin: 38px 50px 38px 25px;
    background: url(img/all.jpg);
    background-size: 236px 236px;
    border-radius: 50%;
    transition: all .2s linear;
}

#brief #all:hover {
    transform: scale(1.2);
}

/* 简介-文本 */

#brief p {
    float: left;
    width: 1100px;
    height: 68px;
    margin-top: 122px;
    font-size: 25px;
}

/* 人物介绍 */

#character {
    height: 524px;
    margin-top: 48px;
}

#character>div {
    float: left;
    width: 310px;
}

#character #pai {
    margin: 0px 250px;
}

/* 人物介绍-文本 */

#character>div .character-text {
    height: 188px;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    text-align: center;
    transition: transform .5s;
}

#character>div .character-text:hover {
    transform: scale(1.2);
}

#character>div .character-text p {
    margin: 20px 15px 0;
    text-align: left;
}

/* 人物介绍-图片 */

#character>div .character-img {
    height: 312px;
    margin-top: 29px;
    border-radius: 20px;
    transition: transform .5s;
}

#character>div .character-img:hover {
    transform: scale(1.2);
}


#character #hai>div {
    background-color: rgba(248, 207, 55);
}

#character #hai .character-img {
    background-image: url(img/haimianbaobao.jpg);
    background-size: contain;
}

#character #pai>div {
    background-color: rgba(208, 128, 121);
}

#character #pai .character-img {
    background-image: url(img/paidaxing.jpg);
    background-size: contain;
}

#character #zhang>div {
    background-color: rgba(56, 95, 152);
}

#character #zhang .character-img {
    background-image: url(img/zhangyuge.jpg);
    background-size: contain;
}

/* 系列作品 */

#works {
    height: 158px;
    margin-top: 52px;
    text-align: center;
    font-size: 20px;
}

/* 系列作品-表头 */

#works .title {
    height: 28px;
    font-weight: 700;
}

#works .title .name {
    float: left;
    width: 808px;
    height: 28px;
}

#works .title .date {
    float: left;
    width: 522px;
    height: 28px;
}

#works .title .num {
    float: left;
    width: 100px;
    height: 28px;

}

/* 系列作品-表格主体 */

#works .table {
    height: 130px;
}

#works .table>div>div {
    height: 26px;
}

#works .table .name {
    float: left;
    width: 808px;
    height: 130px;
    border-radius: 7px 0 0 7px;
    background-color: rgba(153, 204, 255);
}

#works .table .date {
    float: left;
    width: 522px;
    height: 130px;
    background-color: rgba(135, 206, 235);
}

#works .table .num {
    float: left;
    width: 100px;
    height: 130px;
    border-radius: 0 7px 7px 0;
    background-color: rgba(102, 153, 204);
}

/* 我们相关 */

#feedback {
    height: 330px;
    margin-top: 63px;
}

#feedback form textarea {
    width: 1430px;
    height: 244px;
    border-width: 2px;
    border-radius: 8px;
    border-color: #87CEED;
    background-color: #DCF3FF;
    font-size: 20px;
}

#feedback form #submit {
    width: 168px;
    height: 64px;
    margin: 22px 0 0 1262px;
    border-radius: 7px;
    border-color: #6495ED;
    border-style: solid;
    background-color: #6495ED;
    font-size: 18px;
    color: white;
    transition: background-color .3s;
}

#feedback form #submit:hover {
    background-color: #486CF2;
}

#feedback form #submit:active {
    border-style: inset;
    background-color: #486CF2;
}

footer p {
    height: 20px;
    margin: 1000px auto 50px;
    text-align: right;
    font-size: 20px;
    color: grey;
}