body{
    background-color:rgb(220,243,255);
    margin-left: auto;
     margin-right: auto;
}
#header1:hover {
    position:absolute;
    margin-left: 140px;
    padding-left: 10px;
    
    border-radius: 25px;
    background: #378cec;
   
    width: 80px;
    height: 40px; 
    text-decoration: underline;
  
}
#input:hover{
    cursor: pointer;
    background-color: blue;
    
}
#header2:hover{
    position:absolute;
    margin-left: 560px;
    padding-left: 10px;
    
    border-radius: 25px;
    background: #378cec;
 
    width: 80px;
    height: 40px; 
    text-decoration: underline;
  
}
#header3:hover{
    position:absolute;
    margin-left: 1040px;
    padding-left: 10px;
    
    border-radius: 25px;
    background: #378cec;
 
    width: 80px;
    height: 40px; 
    text-decoration: underline;
  
}
#header{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
#header1{
    position:absolute;
    margin-left: 150px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px; 
     
}
#header2{
    position:absolute;
    margin-left: 570px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px; 
  
}
#header3{
    position:absolute;
    margin-left: 1050px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px; 
    
}
#intro{
    display: flex;
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    padding-top: 15px;
    width: 1200px;
    height: 170px;
    padding-left: 5px;
    border: 2px solid rgb(73, 73, 243);
    border-radius: 50px 50px 50px 50px;
}
#pic img{
 width: 150px;
 height: 150px;
 border-radius: 50%;

}
#word{
    margin-top: 45px;
    margin-left: 10px;
    margin-right: 20px;
}
#three{
    display: flex;
    margin-top: 250px;
    margin-left: 0px;
}
#t1{
    position:absolute;
    margin-left: 100px;
    padding-left: 10px;
    border-radius: 25px;
    background:rgb(248,207,55);
    width: 160px;
    height: 500spx; 
}
#t2{
    position:absolute;
    margin-left: 500px;
    padding-left: 10px;
    border-radius: 25px;
    background: rgb(208,128,121);
    width: 160px;
    height: 250spx; 
}
#t3{
    position:absolute;
    margin-left: 900px;
    padding-left: 10px;
    border-radius: 25px;
    background: rgb(56,95,152);
    width: 160px;
    height: 180spx; 
}
#tpic{
    display: flex;
    margin-top: 160px;
    margin-left: 40px;
}
#passage{
    display: flex;
    margin-top: -15px;
}
#input{
    background-color: rgb(120, 120, 222); width: 60px;
    border-radius: 5px;
}
#tp1:hover{
    transform: scale(1.2);
}
#tp2:hover{
    transform: scale(1.2);
}
#tp3:hover{
    transform: scale(1.2);
}

