* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
}

body {
    width: 1430px;
    margin: 0 auto;
    background-color: #DCF3FF;
}

/* 导航栏 */

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav a {
    width: 250px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}

nav a:hover {
    background-color: rgb(55, 96, 152);
    text-decoration: underline;
}


/* 简介 */

#brief {
    height: 312px;
    border-radius: 20px;
    border: 2px solid #000;
}

/* 简介-图片 */

#brief #all {
    float: left;
    width: 230px;
    height: 230px;
    margin: 38px 50px 38px 25px;
    background: url(images/all.png);
    background-size: 230px 230px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

#brief #all:hover {
    transform: scale(1.2);
}

/* 简介-文本 */

#brief p {
    float: left;
    width: 1100px;
    height: 68px;
    margin-top: 122px;
    font-size: 25px;
}

/* 人物介绍 */

#character {
    height: 520px;
    margin-top: 48px;
}

#character>div {
    float: left;
    width: 310px;
}

#character #paidaxing {
    margin: 0px 250px;
}

/* 人物介绍-文本 */

#character>div .character-text {
    height: 188px;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    text-align: center;
    transition: transform .5s;
}

#character>div .character-text:hover {
    transform: scale(1.2);
}

#character>div .character-text p {
    margin: 20px 15px 0;
    text-align: left;
}

/* 人物介绍-图片 */

#character>div .character-img {
    height: 310px;
    margin-top: 30px;
    border-radius: 20px;
    transition: transform .5s;
}

#character>div .character-img:hover {
    transform: scale(1.2);
}


#character #haimianbaobao>div {
    background-color: rgba(248, 207, 55);
}

#character #haimianbaobao .character-img {
    background-image: url(images/haimianbaobao.jpg);
    background-size: contain;
}

#character #paidaxing>div {
    background-color: rgba(208, 128, 121);
}

#character #paidaxing .character-img {
    background-image: url(images/paidaxing.jpg);
    background-size: contain;
}

#character #zhangyuge>div {
    background-color: rgba(56, 95, 152);
}

#character #zhangyuge .character-img {
    background-image: url(images/zhangyuge.jpg);
    background-size: contain;
}

/* 系列作品 */

#works {
    height: 158px;
    margin-top: 52px;
    text-align: center;
    font-size: 20px;
}

/* 系列作品-表格 */

#works table {
    height: 130px;
    border-radius: 10px;
    /* 取消<td>之间的空隙 */
    border-collapse: collapse;
    
}

#works table td{
    padding: 0px;
}

#works table td:nth-child(1) {
    width: 808px;
    background-color: rgb(153, 204, 255);
}

#works table td:nth-child(2) {
    width: 522px;
    background-color: rgb(135, 206, 235);
}

#works table td:nth-child(3) {
    width: 100px;
    background-color: rgb(102, 153, 204);
}

/* 我们相关 */

#feedback {
    height: 330px;
    margin-top: 63px;
}

#feedback form textarea {
    width: 1430px;
    height: 244px;
    border-width: 2px;
    border-radius: 8px;
    border-color: #87CEED;
    background-color: #DCF3FF;
    font-size: 20px;
    color:#000;
}

#feedback form #submit {
    width: 168px;
    height: 64px;
    margin: 22px 0 0 1262px;
    border-radius: 8px;
    border-color: #6495ED;
    background-color: #6495ED;
    font-size: 20px;
    color: white;
    transition: background-color .1s;
}

#feedback form #submit:hover {
    background-color: #486CF2;
}

#feedback form #submit:active {
    background-color: #486CF2;
}

footer p {
    height: 20px;
    margin: 1000px auto 50px;
    text-align: right;
    font-size: 20px;
    color: grey;
}
