$width: 80px;
.zt-button--info {
  background-color: #919398;
}
.zt-button--primary {
  background-color: #5a9cf8;
}
.zt-button--success {
  background-color: #7ec050;
}
.zt-button--warning {
  background-color: #dca550;
}
.zt-button--danger {
  background-color: #e47470;
}
.zt-button--default {
  width: 80px;
  height: 30px;
}
.zt-button--large {
  width: 100px;
  height: 40px;
}
.zt-button--small {
  width: 60px;
  height: 40px;
}
