body {
    background-color: rgb(220, 243,255);
}

/* 导航 */
.header {
    width: 75%;
    height: 70px;
    margin: auto;
    /* background-color: antiquewhite; */
}

.figure, .series, .relate {
    /* display: block; */
    /* background-color: #bfa; */
    width: 33.333%;
    font-size: 18px;
    line-height: 70px;
    /* float: left; */
    float: left;
    text-align: center;
}

.relate {
    float: right;
    text-align: center
}

    .figure:hover, .series:hover, .relate:hover {
        border-radius: 15px;
        text-decoration: underline;
        background-color: rgb(13, 99, 229);
    }

a {
    text-decoration: none;
    color:black;
}

    a:visited {
        color: black;
        /* font-size: 50px;   */
    }

/* 简介 */
.brief {
    /* background-color: bisque; */
    width: 75%;
    height: 200px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid;
    border-color: rgb(088, 131,188);
    box-sizing: border-box;
    border-radius: 10px;
}

.all {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
    float: left;
}

div.brief > p {
    margin-top: 70px;
    margin-left:;
    font-size: 18px;
}

/* 人物介绍 */
._figure {
    /* background-color: #bfa; */
    width: 75%;
    height: 400px;
    margin: auto;
    margin-top: 30px;
}

.yellow, .red, .blue {
    height: 100%;
    float: left;
}

.yellow {
    /* background-color: yellow; */
    width: 23%;
}

.red {
    width: 23%;
    /* background-color: red; */
    margin-left: 15.5%;
}

.blue {
    /* background-color: blue; */
    margin-left: 15.5%;
    width: 23%;
}

.above {
    width: 100%;
    height: 35%;
    text-align: center;
    color: white;
    border-radius: 10%;
}



.below {
    /* background-color: black; */
    width: 100%;
    height: 60%;
    margin-top: 5%;
}

.cartoon {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

    .cartoon:hover {
        position: relative;
        width: 110%;
        height: 110%;
    }

/* 系列 */
._series {
    width: 75%;
    /* background-color: aqua; */
    height: 150px;
    margin: 25px auto;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

.a1 {
    background-color: rgb(153,204,255);
    text-align: center;
    width: 60%;
}

.a2 {
    background-color: rgb(165,206,235);
    text-align: center;
    width: 30%;
}

.a3 {
    background-color: rgb(102,153,204);
    text-align: center;
    width: 10%;
}

/* 关于我们 */
._relate {
    width: 75%;
    height: 200px;
    margin: auto;
    /* background-color: #bfa; */
}

textarea {
    width: 100%;
    height: 200px;
    background-color: rgb(220, 243,255);
    border-color: rgb(135,206,237);
    border-style: solid;
    border-radius: 5px;
}

input {
    height: 50px;
    width: 100px;
    float: right;
    background-color: rgb(100,149,237);
    border-style: none;
    text-align: center;
    border-radius: 5%;
    color: white;
}

input:hover {
    background-color: rgb(13, 99, 229);
}
